* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-roboto);
    font-size: var(--txt-M);
    background-color: var(--blanc);
}

h1,
h2,
h3{
    margin: 14px;
    font-family: var(--font-impact);
    font-weight: 500;
}

h1{
    font-size: var(--txt-XL);
    letter-spacing: 0.72px;
}

h2{
    font-size: var(--txt-L);
}

h3{
    font-size: var(--txt-S);
}

p{
    margin: 14px;
}

.orange{
    color: var(--orange);
}

.hero__title{
    font-size: var(--txt-XL);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 15%;
}

.button__normal{
    display: inline-flex;
    padding: 23px 8px;
    height: 75px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    
    font-family: var(--font-impact);
    font-size: var(--txt-L);
    color: var(--blanc);
    border-radius: 5px;
    border: 2px solid var(--rouge);
    background: var(--noir);
}

.button__billet{
    display: inline-flex;
    padding: 30px 40px;
    height: 75px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    margin-left: 20%;

    text-decoration: none;
    color: var(--blanc);
    font-family: var(--font-impact);
    font-size: var(--txt-L);
    border-radius: 5px;
    border: 2px solid var(--violet);
    background: var(--noir);
}

.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
  
.noscroll {
    overflow: hidden;
}

