.header {
    margin: 0  !important;
    background-color: var(--noir);
    position: sticky;
    top: 0;
    width: 393px;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.header__logo {
    display: block;
}

.header__menu-btn{
    background: none;
    border: none;
    display: flex;
    gap: 5px;
}

