.programmation__img{
    width: 250px;
    margin:  0 0 0 18%;
}

.programmation__sub-title{
    font-size: var(--txt-L);
    font-family: var(--font-impact);
}

.programmation__link{
    font-size: var(--txt-L);
    color: var(--bleu);
    font-family: var(--font-impact);
    margin-left: 14px;
    margin-bottom: 42px;
}

.programmation__txt{
    font-size: var(--txt-S);
    padding-bottom: 10%;
    margin-left: 14px;
    margin-right: 14px;
    border-bottom: 6px solid var(--orange);
}

.programmation__synopsis{
    margin-top: 42px ;
    margin-bottom: -11px;
}

.date{
    margin-top: 10%;
}