.menu {
    position: fixed;
    display: flex;
    inset: 0;
    z-index: 1;
    background-color: var(--noir);
    color: var(--blanc);
    flex-direction: column;
    justify-content: space-between;
    padding: 120px 40px 40px;
    transition: all 0.3s ease-in-out;
}

.menu[aria-hidden="true"] {
    visibility: hidden;
    transform: translateX(100%);
}

.menu__logo {
    display: flex;
    position: relative;
    width: 75px;
    height: 75px;
}

.rugby__img{
    position: absolute;
    margin-left: 53%;
}

.foot__img{
    position: absolute;
    margin-top: 135%;
    margin-left: -10%;
}

.basket__img{
    position: absolute;
    margin-top: 145%;
    margin-left: 47%;
}

.menu__link {
    display:flex;
    letter-spacing: 0.045rem;
    font-family: Impact;
    color: var(--white);
    text-decoration: none;
    font-size: var(--txt-XL);
    display: block;
}

.menu__item {
    display: absolute;
    margin-bottom: 40px;
    padding-bottom: 10px;
}

.menu-btn {
    position: relative;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
    content: "";
    background: var(--blanc);
    color: var(--blanc);
    height: 2px;
    width: 50px;
    position: absolute;
    border-radius: 2px;
    left: 0;
    z-index: 10;
    transition: all 0.4s ease-in-out;
}

.menu-btn__bar::before {
    top: -20px;
}

.menu-btn__bar::after {
    top: 20px;
    width: 30px;
}

.menu .button__billet{
    display: inline-flex;
    padding: 23px 46px;
    position: absolute;
    z-index: 10;
}

.underline{
    text-decoration: underline;
    text-decoration-color: var(--orange);
    text-align: center;
}

.button__billet-menu{
    margin: 0 0 0 0;
    padding: 30px 40px;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar,
.menu-btn[aria-expanded="true"] .menu-btn__bar::before{
  transform: rotate(-135deg);
  background: var(--blanc);
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::before{
  transform: rotate(-90deg);
  top: 0;
}

.menu-btn[aria-expanded="true"] .menu-btn__bar::after{
    visibility: hidden;
    transition: all 0.0s ease-in-out;
}